body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(images/Stage3.jpeg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid red;
  border-radius:10px; */
  position:absolute;
}

.blinkyDancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}



#kevinNguyen{
  max-width: 100px;
  max-height:100px;

}

#abgMulan{
  max-width: 100px;
  max-height:100px;
  /* animation:rotate; */

}

.bounce {
  animation: bounce 0.5s;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1.0, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(0, 200px, 0);}
  }


  .rotate {
    animation: rotation 6s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }